@{
    ViewData["Title"] = "Registration Successful";
}

<div class="alert mt-4">
    <div class="container" style="color:#eee">
        <h4>Thank you for registering!</h4>
        <p>We've sent a confirmation link to your email address. Please check your inbox and click the link to confirm your email.</p>
    </div>
  
</div>